# PourTaste - Project 1

Project Title: PourTaste
Team Members: Erin Ford, Elizabeth Brown and Dylan Grimm,
Project Description: With no experience as Sommeliers or Oenophiles, we would like to study wine data.    Our project is to examine the relationships between wine prices, reviews, regions, provinces, points, and variety.
Research Questions: First, we would like to answer the question whether it is possible to get high rated wines for less than $15 a bottle. We also want to know which regions and countries have the most wineries and which have the best reviews and prices.
Data Sets Used: 
•	Kaggle - https://www.kaggle.com/zynicide/wine-reviews
Breakdown of Tasks:
•	Erin – Compare price vs. reviews and price vs. variety. Build a word cloud based on descriptions of wines
•	Dylan – Evaluate the number of wineries in given regions and countries. Compare price vs. country/region and create mapping for given regions/countries
•	Elizabeth – Pull main CSV into the repository and create main Data Frame. Lastly, compare price vs year/vintage

In [1]:
#Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as lt

In [2]:
#File Location
csvfile = "Resources/winemag-data-130k-v2.csv"
#Read csv file and store in Pandas dataframe, preview head (skipfirst colmn)
wine_data_raw= pd.read_csv(csvfile,usecols=range(1,14))
wine_data_raw.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [3]:
wine_data_raw.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [4]:
#Since price is our main comparison factor, we are only including data instances with a price. 
#Removing all records with NaN for price
wine_data = wine_data_raw.dropna(subset = ['price'])
wine_data.describe()

              points          price
count  120975.000000  120975.000000
mean       88.421881      35.363389
std         3.044508      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

Note:  Do not capitalize or add spaces in the column titles to allow for cleaner pandas df referencing.

In [5]:
wine_data.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem

In [8]:
# What are the column datatypes?
wine_data.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

In [6]:
#Save the clean dataframe to a new csv file
#File Location
cleancsvfile = "Resources/wine_data.csv"
#Save dataframe as a new csv file
wine_data.to_csv(cleancsvfile)