# PourTaste - Project 1

Project Proposal Information

Notes:

In [2]:
#Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as lt

In [28]:
#File Location
csvfile = "Resources/winemag-data-130k-v2.csv"
#Read csv file and store in Pandas dataframe, preview head (skipfirst colmn)
wine_data_raw= pd.read_csv(csvfile,usecols=range(1,14))
wine_data_raw.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [29]:
wine_data_raw.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [30]:
#Since price is our comparison, we are only including data instances with a price. 
wine_data = wine_data.dropna(subset = ['price'])
wine_data.describe()

              points          price
count  120975.000000  120975.000000
mean       88.421881      35.363389
std         3.044508      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000